# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/


# Logs
logs
server/*.log
server/npm-debug.log*


# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
server/pids
server/*.pid
server/*.seed
server/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
server/lib-cov

# Coverage directory used by tools like istanbul
coverage
server/*.lcov

# nyc test coverage
server/.nyc_output

# Bower dependency directory (https://bower.io/)
server/bower_components

# node-waf configuration
server/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
server/build/Release

# Dependency directories
server/node_modules/
server/jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
server/web_modules/

# TypeScript cache
server/*.tsbuildinfo

# Optional npm cache directory
server/.npm

# Optional eslint cache
server/.eslintcache

# Microbundle cache
server/.rpt2_cache/
server/.rts2_cache_cjs/
server/.rts2_cache_es/
server/.rts2_cache_umd/

# Optional REPL history
server/.node_repl_history

# Output of 'npm pack'
server/*.tgz


# dotenv environment variables file
server/.env
server/.env.test

# parcel-bundler cache (https://parceljs.org/)
server/.cache
server/.parcel-cache

server/dist/**/*

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# TernJS port file
server/.tern-port

# Stores VSCode versions used for testing VSCode extensions
server/.vscode-test
